/* .editable{
    width: 100%;
}

.editable_display{
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor: default;
}

.editable_display:hover{
    background-color: #ccc;
}

.editable_edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable_edit input{
    border-radius: 3px;
    outline: none;
    border: 1px solid #1379ec;
    padding: 10px;
    font-size: 1rem;
}

.editable_edit_footer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.editable_edit_footer button{
    outline: none;
    border: none;
    color: #fff;
    background-color: #1379ec;
    transition: 200ms;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.editable_edit_footer button:hover{
    background-color: #0765d1;
}

.editable_edit_footer svg{
    cursor: pointer;
} */

/* .editable {
    width: 100%;
  }
  
  .editable_display {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: fit-content;
    transition: 200ms;
  }
  
  .editable_display:hover {
    background-color: #ddd;
  }
  
  .editable_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .editable_edit input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
  }
  
  .editable_edit_footer {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .editable_edit_footer button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px;
  }
  .editable_edit_footer button:hover {
    background-color: #046daa;
  }
  
  .editable_edit_footer button:active {
    transform: translateY(2px);
  }
  
  .editable_edit_footer .closeIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  } */
  .editable {
    width: 100%;
  }
  
  .editable_display {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: fit-content;
    transition: 200ms;
  }
  
  .editable_display:hover {
    background-color: #ddd;
  }
  
  .editable_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .editable_edit input {
    border: 2px solid #0079bf;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    padding: 10px;
  }
  
  .editable_edit_footer {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .editable_edit_footer button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    border: none;
    transition: 100ms ease;
    padding: 10px;
  }
  .editable_edit_footer button:hover {
    background-color: #046daa;
  }
  
  .editable_edit_footer button:active {
    transform: translateY(2px);
  }
  
  .editable_edit_footer .closeIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }